*.py[cod]
settings_development.py
settings_production.py
src/clubbable/db.sqlite3

# Generated documentation
doc/_build

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# IDE settings
.project
.pydevproject
.idea

