
    {% block container %}
    <div class="container-fluid">
      <div class="row">
        {% for image in images %}
        <div class="col-md-3">
          <div class="center-block">
            <a href="#">
              <img src="{{ media_url }}{{ image.thumbnail }}"
                   alt="{{ image }}"
                   class="img-responsive img-thumbnail" />
            </a>
          </div>
          <p>{{ image }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
